```
# Compiled Python files
*.pyc
__pycache__/

# Virtual environments
.venv/
venv/
.env
.env.local
*.env.*

# Logs
*.log

# Editors
.vscode/
.idea/

# Dependencies
node_modules/
.mypy_cache/
.pytest_cache/
dist/
build/
target/
.gradle/
```